@import '../components/variables';

footer {
  background-color: $white-f9;
  padding: 5rem 0rem 5rem 0rem;
  .containerfooter {
    max-width: 1200px;
	  width: 100%;
	  margin: 0 auto;

    display: flex;
    gap: 80px;
    img {
      background-color: black;
      width: 30px;
      height: 100%;
    }
    .lifoo {
      li {
        a {
          font-family: $font;
          color: $black;
          font-size: 1.2rem;
          &:visited {
            color: $black;
          }
        }
        .one {
          font-weight: bold;
        }
      }
    }
  }
}