@import '../components/variables';

.orcamento {
  padding: 6rem 0rem;
  .containerorcamento {
    max-width: 1200px;
	  width: 100%;
	  margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 20px;
    h2 {
      font-family: $font;
      font-size: 2rem;
    }
    p {
      font-family: $font;
      text-align: center;
      font-size: 1.1rem;
      color: $gray;
      margin-bottom: 1.5rem;
    }
    li {
      a {
        font-family: $font;
        color: $black;
        padding: 0.5rem 1.5rem;
        background-color: white;
        border: 2px solid $black;
    }
  }
}

  } 